@using YMart.ViewModels.Product;
@using static YMart.Constants.CategoryList;

@model IEnumerable<BasicProductViewModel>

@{
    string categoryFilter = ViewData["CategoryFilter"] as string ?? "All";
    ViewData["Title"] = "Products List";
    
}



<link rel="stylesheet" href ="~/css/style.css" />

<style>
    .Product-Row{
        display:flex;
        text-align:center;
        gap:2rem;
    }

    .Product-Box {
        margin-bottom: 1.5rem;
        width: 25%;
        text-align:center;
    }

    .card{
        width:100%;
        height:100%;
        text-align:center;
    }

    .card-img-top{
        height:150px;
        max-height:150px;
        object-fit:contain;
    }

    .card-body{
        display:flex;
        flex-direction:column;
    }

    .Info-Container{
        display:flex;
        flex-direction:row;
    }

    .Categories{
        display: flex;
        flex-direction: row;
        gap:1rem;
        align-items: center;
        justify-content: center;
    }

    .Categories>button{
        height:0;
       padding:1rem;
    }
    
</style>

<div class="Info-Container">
<div class="Top-Text">
    <h2>@ViewData["Title"]</h2>
</div>
<form method="get" class="Categories">
        <button type="submit" class="User-Buttons" name="categoryFilter" value="All" >All</button>
        @foreach(var category in Categories)
        {
           <button type="submit" class="User-Buttons" name="categoryFilter" value="@category">@category</button>
        }
</form>
</div>
<hr />


        <div class="Product-Row">
            @foreach (var product in Model)
            {
                <div class="Product-Box">
                    <div class="card">
                        @if (!string.IsNullOrEmpty(product.ImageURL))
                        {
                            <img src="@product.ImageURL" class="card-img-top" alt="@product.Name">
                        }
                        else
                        {
                            <img src="~/img/no-image-available-02.jpg" class="card-img-top" alt="No Image Available">
                        }

                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price: @product.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</p>
                            <div class="Buttons-Div">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="User-Buttons" id="cyan">Details</a>
                                @if (User?.Identity?.IsAuthenticated == true)
                                {
                                    <form asp-controller="Product" asp-action="AddToCart" method="post">
                                        <input type="hidden" name="id" value="@product.Id" />
                                        <button type="submit" class="User-Buttons" id="green" ><i class="bi bi-cart"></i>Add to Cart</button>
                                    </form>
                                }
                                else
                                {                        
                                    <a asp-controller="Home" asp-action="NotSignedIn" class="User-Buttons" id="green-a"><i class="bi bi-cart"></i>Add to Cart</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
