@using YMart.ViewModels.Brochure;
@model AddBrochureViewModel
@{
    List<string> ProductNamesList = ViewData["ProductNamesList"] as List<string> ?? new List<string>();
    ViewData["Title"] = "Add Brochure";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    @if (User.IsInRole("Administrator"))
    {
        <h2>@ViewData["Title"]</h2>
    }
    @if (!User.IsInRole("Administrator"))
    {
        <h2>Can only be viewed by Administrators</h2>
    }
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        @if (User.IsInRole("Administrator"))
        {
            <form asp-action="AddBrochure" method="post" enctype="multipart/form-data">
                <div class="mb-2">
                    <label asp-for="@Model.ImageURL" class="form-label-add-edit">ImageURL</label>
                    <input asp-for="@Model.ImageURL" class="form-control" aria-required="false" placeholder="Enter image URL" />
                    <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label class="form-label-add-edit">Products</label>
                        <div>
                            @foreach (var productName in ProductNamesList)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="ProductNames" value="@productName" id="@productName" />
                                    <label class="form-check-label" for="@productName">@productName</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
                </div>
            </form>
        }
    </div>
</div>
